@font-face {
font-family: Helvetica;
src: url('HelveticaBlack.ttf');
}
@font-face {
font-family: "HelveticaHeavy";
src: url('../font/HelveticaHeavy.ttf');
}
:root{
--style-one: #4B5D68;
--style-two: #212353;
--style-three: #9C69E2;
--style-four: #F063B8;
--style-five: #68C9BA;
}
@font-face {
font-family: "AvenirMd";
src: url('../font/Avenir-Medium.ttf');
}
@font-face {
font-family: "AvenirHeavy";
src: url('../font/Avenir-Heavy.ttf');
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "AvenirMd";
line-height: 1.6;
}
a{
text-decoration: none;
}
/* Header section    ======================================================================================================= */
.nav-pane{
 padding: 50px 0 150px;
}
.nav-pane ul{
margin-left: 150px;
list-style-type: none;
}
.nav-pane li{
margin: 0 20px;
}
.nav a{
    color: var(--style-one);
}
/* .nav a:hover{
color: var(--style-two);
font-family: "AvenirHeavy";
transition: 1s;
} */
#header-request{
    padding: 15px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
background: #fff;
}
#header-request img{
 margin-left: 20px;
}
#header-request p{
 font-family: "AvenirHeavy";
 color: var(--style-two);
}
.header-main {
grid-template-columns: 1fr 1fr;
}
.header-main h1{
 color: var(--style-two);
}
.header-main p{
color: var(--style-one);
margin: 50px 0;
width: 60%;
}
/* About section    ======================================================================================================= */
.about-wrap{
grid-template-columns: 0.5fr 0.8fr;
grid-gap: 100px;
border-radius: 50px;
background: #FDE8F4
}
.about-wrap div:last-of-type{
margin: 125px 90px 125px 0;
}
/* features section    ======================================================================================================= */
#features h2, .features-description {
text-align: center;
}
.features-wrap{
grid-template-columns: 1fr 1fr;
grid-gap: 60px;
margin-top: 70px;
}
.features-item{
grid-template-columns: 1fr 1fr;
grid-gap: 30px;
padding: 40px 40px;
height: 17.5vw;
}
.features-img{
margin-left: -110px;
}
.features-item p:first-of-type{
 color: var(--style-two);
}
.features-item p:last-of-type{
 color: var(--style-one);
 margin: 20px 0;
}
.features-more{
justify-content: flex-start !important;
}
.features-more a{
 color: var(--style-two);
 font-family: "AvenirHeavy";
 margin-right: 20px;
}
#item-1{
background: url(../img/bg/bg-1.png) center/cover;
}
#item-2{
background: url(../img/bg/bg-2.png) center/cover;
}
#item-3{
background: url(../img/bg/bg-3.png) center/cover;
}
#item-4{
background: url(../img/bg/bg-4.png) center/cover;
}
/* testimonials section    ======================================================================================================= */
#testimonials h2{
color: #fff;
}
.testimonials-bg{
  padding: 100px 90px 50px;
  background: var(--style-three);
  border-radius: 50px;
}
.testimonials-wrap{
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}
.testimonials-item{
padding: 40px 50px;
background: #fff;
margin: 80px 0 60px 0;
border-radius: 20px;
grid-template-columns: 0.3fr 1fr;
grid-gap: 30px;
}
.testimonials-item a{
margin-bottom: 20px;
color: var(--style-three);
display: block;
}
.testimonials-item p:first-of-type{
color: var(--style-two);
font-family: "AvenirHeavy";
}
.testimonials-item p:last-of-type{
color: var(--style-one);
}
.left-img{
width: 5px;
height: 5px;
margin: 0 5px;
}
.right-img{
margin: 0 10px;
}
/* Try section    ======================================================================================================= */
.try-wrap{
grid-template-columns: 1fr 1fr;
}
.try-btns{
align-items: center;
}
.try-btns p{
margin-right: 20px;
}
.try-btns button:first-of-type{
margin-right: 30px;
background: var(--style-four);
}
.try-btns button:last-of-type{
display: flex;
background: #fff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
color: var(--style-two);
align-items: center;
}
/* Utility classes ======================================================================================================= */
section{
padding-top: 150px;
}
.container{
width: 1120px;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.grid-container{
display: grid;
}
.text-xs{
font-size: 16px;
}
.text-sm{
font-size: 18px;
}
.text-md{
font-size: 24px;
}
.text-lg{
font-size: 40px;
}
.text-xl{
font-size: 80px;
}
.main-img{
  display: block;
  width: 100%;
}
.btn{
display: block;
background: var(--style-three);
color: #fff;
padding: 16px 37px;
outline: none;
border: none;
cursor: pointer;
border-radius: 50px;
font-family: "AvenirHeavy";
}
.section-headline{
color: var(--style-two);
margin-bottom: 40px;
}
.section-description{
color: var(--style-one);
}
.align-center{
align-items: center;
}
